<h2 id="title">Welcome to Ember</h2>

{{#ember-gisty user="shahrukhomar" gist="b4601431db22efbe1376bb768a5c4dae" filename="template.hbs" as |gisty|}}
  {{#if gisty.isLoading}}
    <p>... Loading</p>
  {{/if}}
  {{#if gisty.error}}
    <p>there was an error loading gist</p>
    <button {{action gisty.fetch}}>Try Again</button>
  {{/if}}
{{/ember-gisty}}
{{#ember-gisty user="shahrukhomar" gist="b4601431db22efbe1376bb768a5c4dae" as |gisty|}}
  {{#if gisty.isLoading}}
    <p>... Loading</p>
  {{/if}}
  {{#if gisty.error}}
    <p>there was an error loading gist</p>
    <button {{action gisty.fetch}}>Try Again</button>
  {{/if}}
{{/ember-gisty}}

{{outlet}}